{% extends "layout.twig" %}
{% block title 'Creation liste' %}

{% block content %}
    <div class="body m-5">
        <form action="" method="post">
            <h4>Titre</h4>
            <input class="form-control" type="text" name="titre" placeholder="" required>
            <br>
            <h4>Description</h4>
            <textarea cols="111" name="description" id="description" rows="10" required></textarea>
            <br>
            <br>
            <h4>Expiration</h4>
            <input type="date" id="expiration" name="expiration" required>

            <button type="Submit" class="btn btn-dark" style="float: right;"
                    onclick="document.location = '{{ path_for('listeCreateSend') }}';">Créer liste
            </button>
        </form>
    </div>
{% endblock %}
