{% extends "layout.twig" %}
{% block title 'Item reservé' %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/font_awesome.css" />
{% endblock %}

{% block content %}
    <br>
    <br>
    <h1 align="center">Impossible cet item est reservé !</h1>
    <i class="fas fa-ban fa-10x"></i>
{% endblock %}